
{block content}

<h1>Contacts</h1>
<table>
    <thead>
    <tr>
        <th>
            Value
        </th>
        <th>
            Type
        </th>
        <th>
            Person
        </th>
    </tr>
    </thead>
    <tbody>
    {foreach $contacts as $contact}
        <tr>
            <td>
                <a href="{plink Contacts:editor $contact->id}">
                    {$contact->contact}
                </a>
            </td>
            <td>
                {$contact->contactType->name}
            </td>
            <td>
                {$contact->nickname}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
<a href="{plink Contacts:editor}" class="btn btn--primary btn--small">New</a>