{block content}

{if isset($usr)}
    <a href="{plink Users:detail $usr->id}" class="btn btn--primary">Back</a>
{else}
    <a href="{plink Users:}" class="btn btn--primary">Back</a>
{/if}
<div class="mb30"></div>
{control editPersonForm}