
{block content}

<h1>Locations</h1>
<table>
    <thead>
    <tr>
        <th>
            Name
        </th>
        <th>
            City
        </th>
        <th>
            Street name
        </th>
        <th>
            Street number
        </th>
        <th>
            Zip code
        </th>
        <th>
            Country
        </th>
        <th>
            Latitude
        </th>
        <th>
            Longtitude
        </th>
    </tr>
    </thead>
    <tbody>
    {foreach $locations as $location}
        <tr>

            <td>
                <a href="{plink Locations:detail $location->id}">
                    {$location->name}
                </a>
            </td>
            <td>
                {$location->city}
            </td>
            <td>
                {$location->streetName}
            </td>
            <td>
                {$location->streetNumber}
            </td>
            <td>
                {$location->zip}
            </td>
            <td>
                {$location->country}
            </td>
            <td>
                {$location->latitude}
            </td>
            <td>
                {$location->longitude}
            </td>
        </tr>
    {/foreach}
    </tbody>
</table>
<a href="{plink Locations:editor}" class="btn btn--primary btn--small">New</a>