.article {
  padding: 20px 0; }
  .article__title {
    position: relative;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 7px 0; }
    .article__title:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: -15px;
      right: -15px;
      height: 1px;
      background-color: #0046a0; }
  .article--list .article__title {
    margin-bottom: 0; }
    .article--list .article__title:before {
      content: none; }
  .article--list .article__text {
    margin-top: 8px;
    font-size: 14px; }
  .article__info {
    font-size: 12px;
    font-weight: 300; }
  .article__author, .article__date, .article__category {
    margin-right: 15px; }
    .article__author:before, .article__date:before, .article__category:before {
      font-family: "FontAwesome";
      margin-right: 4px;
      color: #666; }
  .article__author:before {
    content: "\f007"; }
  .article__date:before {
    content: "\f073"; }
  .article__category:before {
    content: "\f007"; }
  .article__text {
    line-height: 1.4;
    margin-top: 14px;
    margin-bottom: 14px; }
