.container, .footer__container, .subpage {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  .container--slim {
    max-width: 800px; }

main {
  padding-top: 30px;
  min-height: calc(100vh - 40px - 60px); }

.hidden {
  display: none !important; }

body {
  min-height: 100vh;
  font-size: 16px;
  color: #0f1b12;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

table {
  margin-bottom: 60px;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table td, table th {
    line-height: 50px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px; }
  table tr {
    border-bottom: 1px solid #0046a0; }
    table tr:last-child {
      border-bottom: none; }
  table th {
    font-weight: bold;
    color: #0046a0; }
  table thead {
    border-bottom: 1px solid #0046a0;
    color: #0046a0;
    font-size: 20px; }

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 30px;
  height: 100vh; }
  .grid__sidebar {
    border-right: 1px solid #0046a0;
    height: 100%; }
  .grid__content {
    overflow-y: auto;
    padding: 50px 0; }

.flash {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px; }

.header__logo {
  display: flex;
  position: relative;
  left: -1px;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 200px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  background-color: #0046a0;
  color: #ffffff;
  border-right: 1px solid #0046a0; }
  .header__logo svg {
    height: 60px;
    width: auto; }

.header__link {
  display: block;
  font-size: 14px;
  text-align: center;
  height: 58px;
  line-height: 58px;
  vertical-align: middle;
  text-decoration: none;
  color: #0f1b12;
  background-color: #ffffff;
  transition: color .2s, background-color .2s;
  font-weight: 500;
  border-bottom: 1px solid #0046a0; }
  .header__link:last-child {
    border-bottom: none; }
  .header__link:hover, .header__link--active {
    background-color: #0046a0;
    color: #ffffff; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.container, .footer__container, .subpage {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  .container--slim {
    max-width: 800px; }

main {
  padding-top: 30px;
  min-height: calc(100vh - 40px - 60px); }

.hidden {
  display: none !important; }

body {
  min-height: 100vh;
  font-size: 16px;
  color: #0f1b12;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

table {
  margin-bottom: 60px;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table td, table th {
    line-height: 50px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px; }
  table tr {
    border-bottom: 1px solid #0046a0; }
    table tr:last-child {
      border-bottom: none; }
  table th {
    font-weight: bold;
    color: #0046a0; }
  table thead {
    border-bottom: 1px solid #0046a0;
    color: #0046a0;
    font-size: 20px; }

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 30px;
  height: 100vh; }
  .grid__sidebar {
    border-right: 1px solid #0046a0;
    height: 100%; }
  .grid__content {
    overflow-y: auto;
    padding: 50px 0; }

.flash {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px; }

.article {
  padding: 20px 0; }
  .article__title {
    position: relative;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 7px 0; }
    .article__title:before {
      content: '';
      position: absolute;
      display: block;
      bottom: 0;
      left: -15px;
      right: -15px;
      height: 1px;
      background-color: #0046a0; }
  .article--list .article__title {
    margin-bottom: 0; }
    .article--list .article__title:before {
      content: none; }
  .article--list .article__text {
    margin-top: 8px;
    font-size: 14px; }
  .article__info {
    font-size: 12px;
    font-weight: 300; }
  .article__author, .article__date, .article__category {
    margin-right: 15px; }
    .article__author:before, .article__date:before, .article__category:before {
      font-family: "FontAwesome";
      margin-right: 4px;
      color: #666; }
  .article__author:before {
    content: "\f007"; }
  .article__date:before {
    content: "\f073"; }
  .article__category:before {
    content: "\f007"; }
  .article__text {
    line-height: 1.4;
    margin-top: 14px;
    margin-bottom: 14px; }

.container, .footer__container, .subpage {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  .container--slim {
    max-width: 800px; }

main {
  padding-top: 30px;
  min-height: calc(100vh - 40px - 60px); }

.hidden {
  display: none !important; }

body {
  min-height: 100vh;
  font-size: 16px;
  color: #0f1b12;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

table {
  margin-bottom: 60px;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table td, table th {
    line-height: 50px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px; }
  table tr {
    border-bottom: 1px solid #0046a0; }
    table tr:last-child {
      border-bottom: none; }
  table th {
    font-weight: bold;
    color: #0046a0; }
  table thead {
    border-bottom: 1px solid #0046a0;
    color: #0046a0;
    font-size: 20px; }

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 30px;
  height: 100vh; }
  .grid__sidebar {
    border-right: 1px solid #0046a0;
    height: 100%; }
  .grid__content {
    overflow-y: auto;
    padding: 50px 0; }

.flash {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px; }

.footer {
  margin-bottom: 30px; }
  .footer__container {
    text-align: center;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 12px;
    border: 1px solid #0046a0; }

.tile-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 60px; }
  .tile-list__text {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: center; }
  .tile-list__link {
    display: block;
    position: relative;
    background-color: #ffffff;
    transition: background-color .2s, color .2s;
    color: #0046a0;
    font-size: 18px;
    font-weight: bold; }
    .tile-list__link:hover {
      background-color: #0046a0;
      color: #ffffff; }
      .tile-list__link:hover:after {
        border-color: #ffffff;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px; }
    .tile-list__link:before {
      content: ' ';
      display: block;
      width: 100%;
      padding-top: 100%; }
    .tile-list__link:after {
      content: '';
      display: block;
      position: absolute;
      border: 1px solid #0046a0;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      transition: border-color .2s, top .2s, left .2s, right .2s, bottom .2s; }

.slider {
  margin-bottom: 60px;
  margin-left: -30px;
  margin-right: -30px;
  position: relative; }
  .slider__prev, .slider__next {
    position: absolute;
    top: calc(50% - 20px);
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    z-index: 2; }
    .slider__prev:before, .slider__next:before {
      font-family: "FontAwesome"; }
  .slider__next {
    right: 30px; }
    .slider__next:before {
      content: "\f054"; }
  .slider__prev {
    left: 30px; }
    .slider__prev:before {
      content: "\f053"; }
  .slider__item {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 400px;
    padding: 30px;
    justify-content: flex-end;
    overflow: hidden; }
    .slider__item:before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 180px;
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)); }
    .slider__item:after {
      content: '';
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border: 1px solid #ffffff;
      z-index: 1; }
  .slider__title {
    margin: 0;
    z-index: 1;
    font-size: 40px;
    font-weight: 300;
    color: #ffffff; }
  .slider__text {
    margin: 0;
    z-index: 1;
    color: #ffffff; }
  .slider__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    min-width: 100%; }

.article-list {
  display: grid;
  column-gap: 30px;
  margin-bottom: 60px; }
  .article-list--3 {
    grid-template-columns: repeat(3, 1fr); }

.btn, input[type="submit"] {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #0046a0;
  color: #0046a0;
  text-decoration: none;
  background-color: #ffffff;
  transition: background-color .2s, color .2s; }
  .btn:hover, input[type="submit"]:hover {
    background-color: #0046a0;
    color: #ffffff; }

.event-list {
  display: grid;
  grid-column-gap: 30px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 60px; }
  .event-list--3 {
    grid-template-columns: repeat(3, 1fr); }
  .event-list__link {
    display: flex;
    height: 150px;
    border: 1px solid #0046a0;
    color: #0046a0;
    text-decoration: none;
    position: relative; }
    .event-list__link:hover:before {
      right: 10px; }
    .event-list__link:before {
      content: "\f054";
      font-family: "FontAwesome";
      font-size: 30px;
      line-height: 30px;
      position: absolute;
      bottom: 15px;
      right: 15px;
      transition: right .2s; }
  .event-list__date, .event-list__map {
    display: block;
    line-height: 20px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 300;
    color: #0f1b12; }
    .event-list__date:before, .event-list__map:before {
      font-family: "FontAwesome";
      margin-right: 4px;
      color: #666; }
  .event-list__map:before {
    content: "\f278"; }
  .event-list__date:before {
    content: "\f073"; }
  .event-list__img {
    width: 150px;
    margin-right: 15px; }
  .event-list__title {
    font-weight: normal;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.left {
  text-align: left; }

a {
  text-decoration: underline;
  color: #00113d; }
  a:hover {
    text-decoration: none; }

h1, h2, h3 {
  font-weight: 300; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  color: #00113d; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px;
  font-weight: normal; }

h5 {
  font-size: 16px;
  font-weight: bold; }

p {
  line-height: 1.8; }

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 60px; }
  ul li {
    position: relative;
    display: block;
    line-height: 24px;
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 20px; }
    ul li:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 2px;
      display: block;
      background-color: #0046a0;
      left: 0;
      top: 11px; }

dl {
  display: grid;
  margin-bottom: 30px;
  grid-template-columns: max-content auto;
  line-height: 1.8; }
  dl dt {
    font-weight: bold; }

/* helpers */
.mt10 {
  margin-top: 10px; }

.mt20 {
  margin-top: 20px; }

.mt30 {
  margin-top: 30px; }

.mb10 {
  margin-bottom: 10px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb60 {
  margin-bottom: 60px; }

.colorbox {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px; }
  .colorbox__wrap {
    display: inline-block;
    margin-right: 40px; }
  .colorbox--primary {
    background-color: #0046a0; }
  .colorbox--secondary {
    background-color: #00113d; }
  .colorbox--black {
    background-color: #0f1b12; }
  .colorbox--gray {
    background-color: #666; }
  .colorbox--gray-light {
    background-color: #f2f2f2; }

.container, .footer__container, .subpage {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto; }
  .container--slim {
    max-width: 800px; }

main {
  padding-top: 30px;
  min-height: calc(100vh - 40px - 60px); }

.hidden {
  display: none !important; }

body {
  min-height: 100vh;
  font-size: 16px;
  color: #0f1b12;
  font-family: 'Roboto', sans-serif; }

* {
  box-sizing: border-box; }

table {
  margin-bottom: 60px;
  width: 100%;
  text-align: left;
  border-collapse: collapse; }
  table td, table th {
    line-height: 50px;
    vertical-align: middle;
    padding-left: 15px;
    padding-right: 15px; }
  table tr {
    border-bottom: 1px solid #0046a0; }
    table tr:last-child {
      border-bottom: none; }
  table th {
    font-weight: bold;
    color: #0046a0; }
  table thead {
    border-bottom: 1px solid #0046a0;
    color: #0046a0;
    font-size: 20px; }

.grid {
  display: grid;
  grid-template-columns: 200px auto;
  grid-column-gap: 30px;
  height: 100vh; }
  .grid__sidebar {
    border-right: 1px solid #0046a0;
    height: 100%; }
  .grid__content {
    overflow-y: auto;
    padding: 50px 0; }

.flash {
  text-align: center;
  background-color: #f2f2f2;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px; }

.subpage {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: 250px auto;
  padding-top: 30px; }

.sidebar {
  display: block; }
  .sidebar__nav {
    position: relative;
    display: block; }
    .sidebar__nav:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      right: 2px;
      width: 1px;
      background-color: #2182ff; }
  .sidebar__link {
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 1.6;
    color: #0f1b12;
    text-decoration: none;
    transition: color .2s; }
    .sidebar__link:before {
      content: '';
      position: absolute;
      display: block;
      right: 0;
      top: 1px;
      bottom: 1px;
      width: 5px;
      background-color: #0046a0;
      opacity: 0;
      transition: opacity .2s; }
    .sidebar__link--active {
      font-weight: bold; }
    .sidebar__link:hover, .sidebar__link--active {
      color: #0046a0; }
      .sidebar__link:hover:before, .sidebar__link--active:before {
        opacity: 1; }

.counts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px;
  font-size: 18px;
  font-weight: bold;
  text-align: center; }
  .counts__count {
    display: block;
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 5px; }

input[type="text"], input[type="number"], input[type="date"] {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #0046a0;
  padding: 10px;
  min-width: 250px; }

select {
  border: 1px solid #0046a0;
  padding: 10px;
  min-width: 250px;
  background-color: #ffffff; }

form table tr {
  display: grid;
  grid-template-columns: 200px auto;
  margin-bottom: 15px;
  border-color: transparent !important; }
